

<div class="container">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<!-- ここに検索ボックス -->
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<div class="category-box">
				<p>カテゴリ</p>
					<% @categories.each do |category| %>
					<%= link_to category.category_name, なんとか_path(category) %>
			</div>
			<div class="ranking-box">
				<p>デイリーランキング</p>
				<!-- redisというgemを使うのでそのやり方を調べる。コントローラーも不明 -->
			</div>
		</div>
	</div>
</div>