<div class="container">
    <div class="row" style="border: 1px solid #000000">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h3>お問い合わせページ</h3>
            <br>
            <p>名前<br><input type="text" size="40"></p>
            <br>
            <p>メールアドレス<br><input type="text" size="40"></p>
            <br>
            <p>件名<br><input type="text" size="40"></p>
            <br>
            <p>内容<br>
            <textarea rows="7" cols="48"></textarea></p>
            <br>
            <button type="button" class="btn btn-primary btn-lg" style="margin: 1px 300px;">< 送信 ></button>
            <br>
            <br>
        </div>
        <div class="col-lg-2"></div>
        
    </div>
</div>