<h1>Top#guide</h>
<div class="container">
    <h2 class="text-left">購入ガイド</h2>
    <h3>ご注文方法</h3>
        <p>商品の探し方</p>
            <div>画面上部の検索欄より商品名の検索ができます。<br>
            画面左のカテゴリー一覧からジャンルを選択し商品を探すこともできます。
            </div>
        <p>会員登録<p>
            <div>お買い物を行う際は会員登録が必要です。<br>
            会員登録を行うと購入履歴を閲覧可能になり、送付先住所も登録されますので2回目以降のお買い物をスムーズに行うことができます。    
            </div> 
        <p>カートのご利用方法</p>
            <div>カートに商品を追加するには商品詳細ページにあります「買い物カゴに入れる」ボタンを押すとカートに商品を追加できます。<br>
            一度に同じ商品を複数購入する場合は、「買い物カゴに入れる」ボタンの上にあります「数量変更」欄にて数量を選択してから「買い物カゴに入れる」<br>
            ボタンを押して下さい。<br>
            また、数量の変更は購入確認画面でも変更は可能です。<br>
            </div>
        <p>決済方法について</p>
         <div>現在対応している決済方法は代金引換のみになります。<br>
             その他の決済方法には対応しておりませんのでご了承下さい。※順次対応予定
         </div>
         
         <%= link_to "TOPへ移動", products_path %>
    
</div>