<div class="container">
	
	<div class="row">
		<div class="col-md-12">ここに検索機能が入る予定</div>
	</div>
	
	<div class="row">
		<div class="col-md-3">ここにはサイドバー(カテゴリーとランキング)が入る予定</div>

		<div class="col-md-9">
			
			<!--<div>ここにはニュース一覧が入る予定</div>-->
			
			<div class="row">
				<% @news.order(params[:id]) %>
					<div class="col-md-12">
						<%= News.title %>
						<%= News.created_at %>
					</div>
				<% end %>
			</div>

			<!--<p>一覧</p>ここには商品一覧が入る予定-->
			<div class="row">
				<% @Products.order(params[:id]) %>
					<div class="col-md-4">
						<%= Products.id %>
					</div>
				<% end %>
			</div>


		</div>

		<%= paginate.@products_list %>

</div>



