<div class='container'>
<div class='row'>

            <div class="col-md-8 col-md-offset-2" style="text-align: center;">
                <div class="review_button" style="width: 100%; margin: 30px;">
                    <%= link_to "アーティスト追加", new_artist_path, class:"btn-warning btn-lg" %>
                </div>
            </div>

    <div class='col-md-8 col-md-offset-2'>
        <h2>artists</h2>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 100px;">No.</th>
                    <th>アーティスト名</th>
                    <th colspan="3"></th>
                </tr>
            </thead>
            <tbody>
                <% @artists.each.with_index(1)  do |artist, i| %>
                    <tr>
                        <td><%= i %></td>
                        <td><%= artist.artist_name %></td>
                        <td></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
            <div class="col-md-8 col-md-offset-2" style="text-align: center;">
                <div class="review_button" style="width: 100%; margin: 30px;">
                    <%= link_to "アーティスト追加", new_artist_path, class:"btn-warning btn-lg" %>
                </div>
            </div>
</div>
</div>
