
<div class='container'>
<div class='row'>

    <div class='col-md-8 col-md-offset-2' style="margin-top: 50px; margin-bottom: 150px">
    <h1 style="margin-top: 10px; margin-bottom: 30px; text-align: center;">管理者ページ　新しい商品を追加</h1>

        <div class="form_list row" style="margin-top: 30px; margin-bottom: 30px; border-top: 1px solid #333333;"></div>


<!-- artistのフォーム 始まり-->

            <h1>New Artist</h1>
            <%= render 'form', artist: @artist %>


        </div>

    </div>
</div>
</div>


