
<!-- artistのフォーム 始まり1-->
<div class='container'>
<div class='row'>

    <div class='col-md-8 col-md-offset-2' style="margin-top: 50px; margin-bottom: 150px">

        <%= form_for(@artist) do |a| %>
            <div class="field row" style="margin-top: 20px;">
                <%= a.label :アーティスト名 %>
                <%= a.text_field :artist_name, class:"col-xs-12 book_title" %>
            </div>
            <div class="col-md-4 actions row" style="margin-top: 20px; float: right;">
                <%= a.submit '追加', class:"btn btn-primary btn-lg" %>
            </div>
        <% end %>

    </div>
</div>
</div>

