
			<!-- 部分テンプレが入る -->

<div class="container">
	<div class="row">
		<section class="col-lg-9 col-lg-offset-3">
			<h1>アーティストの商品一覧</h1>
				<% @products.each do |product| %>
			<div class="jacket-image">
				<%= product.image %>
			</div>
			<div>
				<%= producut.title %>
				<p>/</p>
				<%= producut.artist_id.name %>
			</div>
				<% end %>
			<!-- ここにページャ -->
		</section>
	</div>
</div>