<div class="well well-lg">

	<h1>お気に入りのアーティスト</h1>

<% @favorite_artists.each do |favorite_artist| %>
	<% artist = Artist.find(favorite_artist.artist_id) %>
            <div class="name3"><%= link_to artist.artist_name, artist_path(artist) %>
            </div>
            <btn><%= link_to "お気に入り解除", favorite_artists_path, :method => :delete %>
            </btn>
    <% end %>
</div>