<div class="well well-lg">

	<h1>お気に入りのアーティスト</h1>

<% @favorite_artists.each do |favorite_artist| %>
	<% artist = Artist.find(favorite_artist.artist_id) %>
		<div class="well">
            <h1><%= link_to artist.artist_name, artist_path(artist), class:"col-sm-offset-1 label label-success" %>
				<button type="button" class="col-sm-offset-5">
      				<%= link_to "　お気に入り解除　",favorite_artist_path(favorite_artist), method: :delete, class:"btn btn-outline-primary" %>
     			</button>
     		</h1>
     	</div>

    <% end %>
</div>