// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.input-field-size {
    width: 700px;
    height: 30px;
}

.input-area-size {
    width: 700px;
    height: 400px;
}

.button {
    width: 700px;
    height: 40px;
    margin: 0 auto;
    
}

.box {
    text-align: center;
}


.body{
    background-color: red;
}