<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<!-- 部分テンプレが入る -->
		</div>
		<section class="col-lg-9">
			<h1>カテゴリ名</h1>
			<% @products.each do |product| %>
			<div class="jacket-image">
				<%= product.image %>
			</div>
			<div>
				<%= producut.title %>
				<p>/</p>
				<%= producut.artist_id.name %>
			</div>
			<% end %>
		</section>
	</div>
</div>