<style>
body{
    background-color: #1fde0a;
}

p{
    text-align: center;
}
    
</style>

<h1>ここはTOPページです</h1>
<div class="container">
	
	<div class="row">
		<div class="col-md-12">
		    <p>ここに検索機能が入る予定</p>
		 </div>
	</div>
	
	<div class="row">
		<div class="col-md-3">
		    <p>ここにはサイドバー(カテゴリーとランキング)が入る予定</p>
        </div>
        
		<div class="col-md-9">
			
			<div class="row">
			    <p>ここにはニュース一覧が入る予定</p>
			</div>
			<div class="row">
                <p>ここには商品一覧が入る予定</p>
			</div>
        </div>
    </div>
</div>
