<style>
body{
    background-color: #1fde0a;
}

p{
    text-align: center;
}
    
</style>

<link href="./app/assets/stylesheet/skippr.css" rel="stylesheet" media="all" type="text/css" />
<script src="./app/assets/javascripts/skippr.min.js" type="text/javascript"></script>
<script>
	$(document).ready(function(){
		$("#skippr-slider").skippr({
			transition: 'slide',
			autoPlay: true,
		});
	});
</script>


<h1>ここはTOPページです</h1>
<div id="slider">
	<div id="skippr-slider">
		<div style="background-image: url(.app/public/img/001.jpg)">
		</div>
	</div>
</div>


<head><link href="./app/assets/stylesheet/skippr.css" rel="stylesheet" media="all" type="text/css" /></head>
<script src="./app/assets/javascripts/skippr.min.js" type="text/javascript"></script>
<script>
	$(document).ready(function(){
		$("skippr-slider").skippr({
			transition: 'slide',
			autoPlay: true,
		});
	});
</script>





<div class="container">
	
	<div class="row">
		<div class="col-md-12">
		    <p>ここに検索機能が入る予定</p>
		 </div>
	</div>
	
	<div class="row">
		<div class="col-md-3">
		    <p>ここにはサイドバー(カテゴリーとランキング)が入る予定</p>
        </div>
        
		<div class="col-md-9">
			
			<div class="row">
			    <p>ここにはニュース一覧が入る予定</p>
			</div>
			<div class="row">
                <p>ここには商品一覧が入る予定</p>
			</div>
        </div>
    </div>
</div>
