
<style>
p{
    text-align: center;
}

    
</style>


<p>ここはTOPページです</p>
<div class="container">
	<div class="row">
		<div class="img_top">
       		<%= image_tag '001.jpg', :size =>'1500x400' %>
        </div>
    </div>
        
        <script>
        	$(document).ready(function(){
        		$("#skippr-slider").skippr({
        			transition: 'slide',
        			autoPlay: true,
        		});
        	});
        </script>
	
	<div class="row">
		<div class="col-md-12">
		    <p>ここに検索機能が入る予定</p>
		 </div>
	</div>
	
	<div class="row">
		<div class="col-md-3">
		   
        </div>
        
		<div class="col-md-9">
			
			<div class="row">
			    <p>ここにはニュース一覧が入る予定</p>
			</div>
			<div class="row">
                <p>ここには商品一覧が入る予定</p>
			</div>
        </div>
    </div>
</div>
    

 
