<div class='container'>
<div class='row'>

    <div class='col-md-6 col-md-offset-3' style="padding-top: 30px;">

        <h1>管理者ページ　新しい商品を追加</h1>



            <div class="field row">アーティスト名
            </div>
                <div class="text_form" style="width: 100px; height: 100px; border: solid 1px #000000;">
                </div>
            <div class="field row">商品名
            </div>
            <div class="field row">ジャケット画像
            </div>
            <div class="field row">レーベル
            </div>
            <div class="field row">ジャンル
            </div>




            <div class="actions row updata_book" "btn btn-primary">
    　      </div>





    <div class='col-md-3'></div>

</div>
</div>
