	<div class='container'>

		<div class="row">
			<!--<div class="col-md-2"></div>-->
			<!--<div class="col-md-10">-->
			<h2>口コミ投稿画面</h2>
			<br>
			<p>商品名：　○○○の口コミ</p>
		</div>

		<div class="row">
			<!--<div class="col-md-4"></div>-->
			<!--<div class="col-md-6">-->

				<%= form_for [@product, @review] do |review| =%>




				 	<h4>件名を入力してください</h4>	
				 		<div class="box">
				 			<%= review.text_field :subject, class:"input-field-size" %>
				 		</div>

				 	<h4>口コミ本文を入力してください</h4>
				 		<div class="box">
				 			<%= review.text_area :review, class:"input-area-size" %>
				 		</div>
				 	<div class="button">
				 		<%= review.submit "投稿", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
				 	</div>

				 <% end %>
				 <br>
		 </div>
		<br>
		<br>
			<!--<div class="col-md-4"></div>-->
	</div>
		<!--↑２つのrowクラス作ってみました。まだ投稿はできません。M-->

<!--<div class='row'>-->

<!--    <div class='col-md-8 col-md-offset-2' style="margin-top: 150px; margin-bottom: 150px">-->
<!--    <h1 style="margin-top: 10px; margin-bottom: 30px;">口コミ投稿画面</h1>-->

<!--    <h3 style="margin-top: 10px; margin-bottom: 20px; margin-left: 20px;">商品名：　〇〇〇　の口コミ</h3>-->


<!--        <div class="form_list row" style="border-top: 1px solid #333333;">-->

<!--			<form>-->
<!--			    <label>件名を入力してください</label><br>-->
			   
			   
<!--			    <input type="text" name="first-name" maxlength="10" value="" placeholder="件名を入力">-->
<!--			</form>-->
<!--			<style>-->
<!--			label{-->
<!--				font-size: 20px;-->
<!--				margin-top: 20px;-->
<!--                margin-bottom: 10px;-->
<!--			}-->

<!--			input{-->
<!--			    width: 100%;-->
<!--			    margin-bottom: 30px;-->
<!--			}-->
<!--			</style>-->

<!--			<form>-->
<!--			    <label>口コミ本文を入力してください</label><br>-->
<!--			    <textarea name="message-body" placeholder="本文を入力"></textarea>-->
	
		   
<!--			</form>-->
<!--			<style>-->
<!--			textarea{-->
<!--			    width:100%;-->
<!--			    height:400px;-->
<!--			    resize:vertical;-->
<!--			}-->
<!--			</style>-->

<!--            <div class="disc_button" style="text-align: center; margin-top: 20px;">-->
<!--	            <div class='col-lg-12'>-->
<!--	                <button type="submit" name="example" value="ボタン" style="width: 100px; margin: 20px 40px; font-size: 30px;">投稿</button>-->
<!--	            </div>-->
<!--	        </div>-->


<!--        </div>-->

<!--    </div>-->
<!--</div>-->
<!--</div>-->